/* Sidebar */

.sidebar {
  min-height: calc(100vh - #{$navbar-height});
  background: $sidebar-light-bg;
  font-family: $type1;
  font-weight: 300;
  padding: 0;
  width: $sidebar-width-lg;
  z-index: 11;
  transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  box-shadow: $sidebar-box-shadow;
  -webkit-box-shadow: $sidebar-box-shadow;
  -moz-box-shadow: $sidebar-box-shadow;
  -ms-box-shadow: $sidebar-box-shadow;
  .sidebar-profile {
    padding: 1.75rem 2rem 1.75rem 2rem;
    .sidebar-profile-image {
      position: relative;
      img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        margin-right: 0.625rem;
      }
    }
    .sidebar-name {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 0;
      color: $sidebbar-light-profile-name;
    }
    .sidebar-designation {
      font-size: 1remrem;
      margin-bottom: 0;
      color: $body-color;
    }
  }
  .sidebar-user-controlls {
    margin: 0 2rem 0 2rem;
    background: $sidebar-light-user-controll-bg;
    list-style: none;
    padding: 0.875rem 1rem .5rem 1rem;
    border-radius: 4px;
    display: flex;
    @media screen and (max-width: 991px) {
      margin: 0 1.5rem 0 1.5rem;
    }
    li {
      padding: 0 5px;
      a {
        position: relative;
        color: $sidebar-light-menu-icon-color;
        i {
          font-size: 1.5rem;
          line-height: 1.5rem;
          vertical-align: middle;
        }
        .user-controll-count {
          width: 16px;
          height: 16px;
          border-radius: 100%;
          color: $white;
          text-align: center;
          display: block;
          position: absolute;
          right:-5px;
          top: -10px;
          font-size: 10px;
        }
      }
    }
  }

  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;

    .nav-item {
      @include transition-duration(0.25s);
      transition-property: background;
      -webkit-transition-property: background;
      .collapse {
        z-index: 999;
      }

      .nav-link {
        @include display-flex;
        @include align-items(center);
        white-space: nowrap;
        padding: $sidebar-menu-padding-top $sidebar-menu-padding-right $sidebar-menu-padding-bottom $sidebar-menu-padding-left;
        color: $sidebar-light-menu-color;
        @include transition-duration(0.45s);
        transition-property: color;
        -webkit-transition-property: color;

        i {
          color: inherit;

          &.menu-icon {
            font-size: $sidebar-icon-font-size;
            line-height: 1;
            margin-right: 1.125rem;
            .rtl & {
              margin-left: 2rem;
              margin-right: 0;
            }
            color: $sidebar-light-menu-icon-color;
            &:before {
              vertical-align: middle;
            }
          }
          &.menu-arrow {
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-left: auto;
            margin-right: 0;
            color: $sidebar-light-menu-arrow-color;
            .rtl & {
              margin-left: 0;
              margin-right: auto;
            }

            &:before {
              content: "\f287";
              font-family: "ionicons";
              font-style: normal;
              display: block;
              font-size: 1rem;
              line-height: 10px;
              @include transition(all .2s ease-in);
            }
          }
        }

        .menu-title {
          color: inherit;
          display: inline-block;
          font-size: $sidebar-menu-font-size;
          line-height: 1;
          vertical-align: middle;
        }

        .badge {
          margin-left: auto;
          .rtl & {
            margin-left: 0;
            margin-right: auto;
          }
        }
        &[aria-expanded="true"] {
          i {
            &.menu-arrow {
              &:before {
                @include rotate(180);
              }
            }
          }
        }
      }

      &.active {
        > .nav-link {
            background: $sidebar-light-menu-active-bg;
            position: relative; 
            i,
            .menu-title,
            .menu-arrow {
              color: $sidebar-light-menu-active-color;
            }
        }
      }
    }

    &:not(.sub-menu) {
      margin-top: .5rem;
      > .nav-item {
        margin: .625rem 2rem 0 2rem;
        .sidebar-title {
          color: $sidebar-light-menu-title;
          font-weight: 600;
          margin-bottom: 0.75rem;
          margin-top: .625rem;
        }
        > .nav-link {
          margin: 0;
          border-radius: 4px;
          font-weight: 600;
        }
        &:hover {
          > .nav-link {
            background: $sidebar-light-menu-hover-bg;
            color: $sidebar-light-menu-hover-color;
            i {
              color: $sidebar-light-menu-icon-hover-color;
            }                                
          }
        }
      }
    }
    &.sub-menu {
      margin-bottom: 0;
      margin-top:0;
      list-style: none;
      padding: $sidebar-submenu-padding;

      .nav-item {
        padding: 0;
        &::before {
          content: '';
          width: 5px;
          height: 5px;
          position: absolute;
          margin-top: 21px;
          border-radius: 50%;
          background: #8e95aa;
          display: none;
        }
        .nav-link {
          color: $sidebar-light-submenu-color;
          padding: $sidebar-submenu-item-padding;
          position: relative;
          font-size: $sidebar-submenu-font-size;
          line-height: 1;
          height: auto;
          border-top: 0;
          &:hover {
            color: $sidebar-light-submenu-hover-color;
          }
          &.active {
            color: $sidebar-light-submenu-active-color;
            background: transparent;
          }
        }
        &:hover {
          background: transparent;
        }
      }
    }
  }
}
//sidebar color variation
.sidebar-dark {
  .sidebar {
    background: $sidebar-dark-bg;
    .sidebar-profile {
      padding: 1.75rem 2rem 1.75rem 2rem;
      .sidebar-profile-image {
        position: relative;
        img {
          width: 36px;
          height: 36px;
          border-radius: 100%;
          margin-right: 0.625rem;
        }
      }
      .sidebar-name {
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: 0;
        color: $sidebbar-dark-profile-name;
      }
      .sidebar-designation {
        font-size: 1remrem;
        margin-bottom: 0;
        color: $body-color;
      }
    }
    .sidebar-user-controlls {
      background: $sidebar-dark-user-controll-bg;
      li {
        a {
          color: $sidebar-dark-menu-icon-color;
        }
      }
    }
    .nav {
      .nav-item {
        .sidebar-title {
          color: $sidebar-dark-menu-title;
        }
        .nav-link {
          color: $sidebar-dark-menu-color;
          i {
            color: inherit;
            &.menu-icon {
              color: $sidebar-dark-menu-icon-color;
            }
          }
          .menu-title {
            color: inherit;
          }
        }
        &.active {
          > .nav-link {
            background: $sidebar-dark-menu-active-bg;
            .menu-title,
            i {
              color: $sidebar-dark-menu-active-color; 
            }
          }
        }
      }
      &:not(.sub-menu) {
        > .nav-item {
          &:hover {
            > .nav-link {
              background: $sidebar-dark-menu-hover-bg;
              color: $sidebar-dark-menu-hover-color;                                    
            }
          }
        }
      }
      &.sub-menu {
        .nav-item {
          .nav-link {
            color: $sidebar-dark-submenu-color;
            &:before {
              color: lighten($sidebar-dark-submenu-color, 10%);
            }
            &.active {
              color: $sidebar-dark-menu-active-color;
              background: transparent;
            }
            &:hover {
              color: $sidebar-dark-submenu-hover-color;
            }
          }
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - #{$navbar-height});
    top: $navbar-height;
    bottom: 0;
    overflow: auto;
    right: -$sidebar-width-lg;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    &.active {
      right: 0;
    }
  }
}