/* theme: Default */


//
// General
//

@utility-container-max-width: 1230px;
@utility-container-large-max-width: 1230px;

//
// Typography
//

@global-link-color: #005aa6;
@global-link-hover-color: #f9f9f9;
@base-body-font-family: "Times New Roman", Times, serif;

//
// Spacings
//

@global-grid-gutter: 15px;

//
// Button
//

@button-link-hover-text-decoration: none;

//
// Dropdown
//

@dropdown-background: #eeeeee;
@dropdown-animation: uk-slide-top-fixed;
@dropdown-padding: 0px;
@dropdown-navbar-animation: uk-slide-top-fixed;

//
// Icon
//

@icon-font-path: "../../fonts";

//
// Nav
//

@nav-header-font-weight: 200;
@nav-navbar-hover-background: Blue;
@nav-navbar-hover-color: #FFFFFF;

//
// Navbar
//

@navbar-background: #ffffff;
@navbar-nav-font-weight: bold;
@navbar-nav-font-family: "Times New Roman", Times, serif;
@navbar-nav-hover-background: #ffffff;
@navbar-nav-hover-color: #005AA6;
@navbar-nav-color: #005AA6;