/* Dropdowns */

.dropdown {
  .dropdown-toggle {
    &:after {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
      font: normal normal normal 24px/1 "ionicons";
      content: "\f280";  
      width: auto;
      height: auto;
      vertical-align: middle;
      line-height: .625rem;
      font-size: 1.25rem;
      margin-left: 0;
    }
  }
  .dropdown-menu {
    margin-top: .75rem;
    font-size: $default-font-size;
    border-radius: 0;   
    .dropdown-item {
      font-size: 1rem;
      padding: .25rem 1.5rem;
      &:active {
        background: initial;
      }
    }
  }
}
