.extra-large-title {
  line-height: 25px;
  color: theme-color(dark);
  font-weight: bold;
}

.icon-bg-square {
  width: 44px;
  height: 44px;
  background: $large-icon-bg;
  color: theme-color(dark);
  padding: .75rem .875rem;
  margin-right: 1rem;
  border-radius: 4px;
  text-align: center;
  &:hover {
    background: theme-color(secondary);
    i {
      color: $white;
    }
  }
  i {
    font-size: 1.25rem;
  }
}

.sale-status-legends {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 2.5rem;
    li {
      @extend .d-flex;
      @extend .justify-content-between;
      padding-left: 20px;
      margin-bottom: .75rem;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      .legend-label {
        font-size: .875rem;
        color: $body-color;
        justify-content: end;
      }
      .legend-data {
        font-size: .875rem;
        color: theme-color(dark);
        font-weight: bold;
        margin-right: 2.25rem;
      }
      &:after {
        content: '';
        width: .5rem;
        height: .5rem;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: .5rem;
      }
      &.label-secondary {
        &:after {
          background: theme-color(secondary);
        }
      }
      &.label-primary {
        &:after {
          background: theme-color(primary);
        }
      }
      &.label-warning {
        &:after {
          background: theme-color(warning);
        }
      }
      &.label-info {
        &:after {
          background: theme-color(info);
        }
      }
      &.label-light {
        &:after {
          background: theme-color(light);
        }
      }
    }
  }
  &.sales-location {
    ul {
      li {
        padding-left: 2rem;
        &:after {
          width: 20px;
          height: 7px;
          border-radius: 3.5px;
        }
      }
    }
  }
}

.settings-dropdown {
  color: darken(theme-color(secondary),14%);
  font-size: 1.25rem;
}

.owl-theme {
  &.detailed-report {
    .owl-nav {
      .owl-next,
      .owl-prev {
        position: absolute;
        background: $owl-carousel-nav-bg;
        color: $owl-carousel-nav-color;
        width: 32px;
        height: 30px;
        i {
          font-size: 1.125rem;
        }
      }
      .owl-next {
        top: -52px;
        right: 0;
      }
      .owl-prev {
        top: -52px;
        right: 42px;
      }
    }
  }
}

.detailed-report-wrap {
  padding: 1rem;
  border: 1px solid $border-light-color;
  margin-bottom: 1rem;
  .title {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .text-date {
    font-size: 13px;
    color: theme-color(light);
    margin-bottom: 10px;
  }
}

.chart-legends-state-by-sale {
  .legend-label {
    position: absolute;
    display: block;
    width: 10px;
    height: 11px;
    border-radius: 2px;
    left: 0;
    top: 5px;
  }
}

.demo-vector-map-dashboard {
  width: 100%;
  height: 100px;
  .jvectormap-zoomin,
  .jvectormap-zoomout {
    background: theme-color(light);
  }
}